<section id="section-combate">
<div class="flex flex-col items-center justify-center mt-10">
    <h1 class="font-bold text-2xl">Bienvenido al Area de Combate!</h1>
        <div class="bg-black flex flex-row space-x-10" id="div-images"></div>
        <div class="bg-gray-200 flex flex-row  space-x-10" id="div-vidas"> 
            <div class=" flex flex-col items-center">
                <h1>3</h1>
                <h3>Vidas restantes</h3>

            </div>
            <div class=" flex flex-col items-center">
                <h1>3</h1>
                <h3>Vidas restantes</h3>
            </div>
        </div>
        <div class=" flex items-center align-middle flex-col" id="div-buttons">

        </div>
        <div class="bg-black" id="div-mensaje"></div>

</div>

</section>