---

---
<section id="section-selec-masc">
    <h1 class="font-bold text-2xl items-center justify-center flex pt-10">Selecciona tu mascota!</h1>
<div class="flex flex-row space-x-10 m-10 justify-center" id="div-opc-mascotas">


</div>
<div class="flex items-center justify-center" id="div-confirmar-masc">
<button id="button-confirmar-masc" class="bg-black text-white py-3 px-5 rounded-xl cursor-pointer">Confirmar</button>

</div>


</section>
